.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 730px;
  margin-inline: auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
