.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 730px;
  margin-inline: auto;
  margin-top: 77px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.titleh3 {
  color: #0c0e16;
  font-size: 36px;
  font-weight: 700;
  line-height: 33.12px;
  letter-spacing: -1.125px;
  text-align: left;
}

.titlep {
  color: #888eb0;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.headerRight {
  display: flex;
  gap: 40px;
  align-items: center;
}

.filter {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #0c0e16;
  display: flex;
  gap: 14px;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: #f8f8fb;
}

.dialog {
  padding: 24px;
  box-shadow: 0px 10px 20px 0px #48549f40;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 190px;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  position: absolute;
  top: 16%; /* Butonun altına yerleşir */
  left: 47%; /* Butonun sol tarafından başlar */
  transform: translateY(8px);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8; /* Dialog'un altındaki z-index */
}
.label {
  color: #0c0e16;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  cursor: pointer;
}

.filtericon {
  font-size: 16px;
  font-weight: 700;
  color: #7c5dfa;
  cursor: pointer;
}

.btn {
  width: 160px;
  background-color: #7c5dfa;
  height: 48px;
  display: flex;
  gap: 16px;
  border: none;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnplus {
  color: #7c5dfa;
  background-color: #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}

.btnp {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
}
