.detailContainer {
  margin-top: 65px;
}
.backbtn {
  display: flex;
  gap: 23px;
  align-items: center;
  cursor: pointer;
}

.back {
  color: #7c5dfa;
  font-size: 20px;
  font-weight: 600;
}

.backbtncontent {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #0c0e16;
}

.backbtncontent:hover {
  color: #7e88c3;
}

.detailHeader {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
  border-radius: 8px;
  padding-inline: 32px;
  padding-block: 20px;
  box-shadow: 0px 10px 10px -10px #48549f1a;
}

.detailLeftContent {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dlcTitle {
  color: #858bb2;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.dlcPending {
  background-color: #fff9f0;
  opacity: 5, 71%;
  padding-inline: 19px;
  padding-block: 14px;
  border-radius: 6px;
  color: #ff8f00;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
}

.detailRightContent {
  display: flex;
  gap: 8px;
}

.drcEdit {
  color: #7e88c3;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  padding: 15px;
  background-color: #f9fafe;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.drcEdit:hover {
  background-color: #dfe3fa;
}

.drcDel {
  background-color: #ec5757;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  padding: 15px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.drcDel:hover {
  opacity: 0.5;
}

.drcPaid {
  background-color: #7c5dfa;
  color: #ffffff;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.drcPaid:hover {
  opacity: 0.8;
}

.detailContent {
  background-color: #ffffff;
  margin-top: 24px;
  box-shadow: 0px 10px 10px -10px #48549f1a;
  border-radius: 8px;
  padding: 48px;
}

.dcTop {
  display: flex;
  justify-content: space-between;
}

.dctLeft {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.dctlTop {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
}
.dctlBottom {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #7e88c3;
}

.dctRight {
  color: #7e88c3;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.10000000149011612px;
  text-align: right;
}

.dcMedium {
  margin-top: 21px;
  display: flex;
  gap: 118px;
  margin-bottom: 44px;
}

.dcmLeft {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.itemsContainer {
  background-color: #f9fafe;
  padding-inline: 32px;
  padding-top: 32px;
  padding-bottom: 39px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.itemsDetail {
  display: flex;
  gap: 96px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.dcFooter {
  display: flex;
  background-color: #373b53;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dialog {
  padding: 48px;
  box-shadow: 0px 10px 10px -10px #48549f1a;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.cancelBtn {
  padding-inline: 24px;
  padding-block: 14px;
  color: #7e88c3;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Koyu arka plan rengi */
  z-index: 8; /* Dialog'un altındaki z-index */
}
