.cardContainer{
    max-width: 760px;
    margin-inline: auto;
}

.cardItem{
    padding: 32px 30px;
    display: flex;
    gap: 44px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.details{
    background-color: transparent;
    border: transparent;
}

.name{
    color: #888EB0;
}
.date{
    color: #888EB0;
}

.cash{
    color: #0C0E16;
}

.date{
    color: #888EB0;
}

.state1{
    padding: 10px 30px;
    background-color: #f3fdfa ;
    text-align: center;
    color: #33D69F;
    display: flex;
    gap: 5px;
    align-items: center;
}

.state2{
    padding: 10px 30px;
    background-color: #fff9f0;
    text-align: center;
    color: #ff8f00;
    display: flex;
    gap: 5px;
    align-items: center;
}

.state3{
    padding: 10px 30px;
    background-color: #f4f4f5;
    text-align: center;
    color: #373b53;
    display: flex;
    gap: 5px;
    align-items: center;
}
