.newInvoiceDialog {
  padding-inline: 56px;
  padding-top: 56px;
  padding-bottom: 32px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.billForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 46px;
}

.adressDetails {
  display: flex;
}

.adressP {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.adress {
  width: 504px;
  height: 48px;
  color: #0c0e16 !important;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  padding-left: 10px;
  border: 1px solid #dfe3fa;
  border-radius: 6px;
}

.adressLabel {
  color: #7e88c3;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.detailsLabel {
  color: #7e88c3;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
}

.detailsP {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.city {
  height: 48px;
  width: 152px;
  padding-left: 20px;
  border: 1px solid #dfe3fa;
  border-radius: 6px;
}

.adressDetails {
  display: flex;
  gap: 24px;
}

.billTo {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.termAndDate {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.doubleInput {
  width: 240px;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 6px;
  padding-right: 20px;
  color: #0c0e16;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.itemList {
  display: flex;
  gap: 16px;
}

.deleteBtn {
  border: transparent;
  background-color: transparent;
  margin-top: 26px;
  cursor: pointer;
  margin-left: 28px;
}

.threeInput {
  width: 214px;
  height: 48px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.total {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.oneInput {
  width: 48px;
  height: 48px;
}

.twoInput {
  width: 100px;
  height: 48px;
}

.addNewItem {
  padding-inline: 165px;
  padding-block: 18px;
  text-align: center;
  border-radius: 16px;
  background-color: #f9fafe;
  color: #7e88c3;
  border: transparent;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 39px;
  cursor: pointer;
}
.addNewItem:hover {
  background-color: #dfe3fa;
}

.draft {
  background-color: #373b53;
  color: #888eb0;
  border: none;
  border-radius: 24px;
  padding-inline: 26px;
  padding-block: 18px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.draft:hover {
  background-color: #0c0e16;
}

.save {
  background-color: #7c5dfa;
  color: white;
  border: none;
  border-radius: 24px;
  padding-inline: 24px;
  padding-block: 18px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.save:hover {
  background-color: #4b3894;
}

.discardBtn {
  background-color: #f9fafe;
  color: #7e88c3;
  border: none;
  border-radius: 24px;
  padding-inline: 26px;
  padding-block: 18px;
  font-size: 15px;
  font-weight: 700;
}

.formSaveButtons {
  display: flex;
  gap: 20px;
}

.formBtns {
  display: flex;
  justify-content: space-between;
}
